.box {
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  .glitch {
    color: grey;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 25px;
    position: relative;
    padding: 10px;
    &:before,
    &:after {
      content: "Click here to get Ayn Rand's quote";
      color: #fff;
      position: absolute;
      top: 0;
      overflow: hidden;
      padding: 10px;
    }
    &:before {
      left: 3px;
      text-shadow: -3px 0 red;
      animation: glitch-before 2s linear 0s infinite alternate;
    }
    &:after {
      left: -3px;
      text-shadow: -3px 0 blue;
      animation: glitch-after 2s linear 0s infinite alternate;
    }
  }
}
@keyframes glitch-before {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(150) + px, 350px, random(150) + px, 10px);
    }
  }
}
@keyframes glitch-after {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(150) + px, 350px, random(150) + px, 10px);
    }
  }
}