body {
    background-image: url(back.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    
    
}

img {
    border-radius: 15px;
    margin:20px;
    align-self: flex-end;
}

#btn {
    padding: 20px;
    font-size: 25px;
    border-radius: 15px;
    border: none;
    font-family: 'Impact', sans-serif;
    margin-top: 300px;
    background-color: #282828;
    color:grey;
    
    
    
}

#par {
    font-size: 20px;
    display: none;
    text-align: center;
    width:100%;
    background-color: aliceblue;
    padding: 20px;
    line-height: 45px;
    font-family: 'Impacted', sans-serif;
    color:#2F4D5C;
        
    
}

#player {
    margin-top: 30px;
}



#cont-countdown5, #cont-countdown10, #cont-countdown15 {
    display: flex;
    justify-content: center;
}

#min5, #min10, #min15, .count  {
    background: linear-gradient(to right, #acb6e5, #f0f3f5);
    font-size: 60px;
    margin-top: 100px;
    border-radius: 20px;
    padding: 30px;
    border:none;
}


.blocks {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width:90vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 95vh;
}






.box {
 
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.box .glitch {
  color: grey;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 25px;
  position: relative;
  padding: 10px;
}
.box .glitch:before, .box .glitch:after {
  content: "Click here to get Ayn Rand's quote";
  color: #fff;
  position: absolute;
  top: 0;
  overflow: hidden;
  padding: 10px;
}
.box .glitch:before {
  left: 3px;
  text-shadow: -3px 0 red;
  animation: glitch-before 2s linear 0s infinite alternate;
}
.box .glitch:after {
  left: -3px;
  text-shadow: -3px 0 blue;
  animation: glitch-after 2s linear 0s infinite alternate;
}

@keyframes glitch-before {
  0% {
    clip: rect(55px, 350px, 82px, 10px);
  }
  5% {
    clip: rect(35px, 350px, 65px, 10px);
  }
  10% {
    clip: rect(38px, 350px, 81px, 10px);
  }
  15% {
    clip: rect(63px, 350px, 82px, 10px);
  }
  20% {
    clip: rect(131px, 350px, 78px, 10px);
  }
  25% {
    clip: rect(85px, 350px, 18px, 10px);
  }
  30% {
    clip: rect(134px, 350px, 121px, 10px);
  }
  35% {
    clip: rect(23px, 350px, 27px, 10px);
  }
  40% {
    clip: rect(139px, 350px, 55px, 10px);
  }
  45% {
    clip: rect(112px, 350px, 46px, 10px);
  }
  50% {
    clip: rect(136px, 350px, 94px, 10px);
  }
  55% {
    clip: rect(40px, 350px, 133px, 10px);
  }
  60% {
    clip: rect(59px, 350px, 139px, 10px);
  }
  65% {
    clip: rect(64px, 350px, 8px, 10px);
  }
  70% {
    clip: rect(124px, 350px, 62px, 10px);
  }
  75% {
    clip: rect(24px, 350px, 5px, 10px);
  }
  80% {
    clip: rect(123px, 350px, 29px, 10px);
  }
  85% {
    clip: rect(115px, 350px, 120px, 10px);
  }
  90% {
    clip: rect(65px, 350px, 148px, 10px);
  }
  95% {
    clip: rect(56px, 350px, 61px, 10px);
  }
  100% {
    clip: rect(33px, 350px, 97px, 10px);
  }
}
@keyframes glitch-after {
  0% {
    clip: rect(4px, 350px, 70px, 10px);
  }
  5% {
    clip: rect(81px, 350px, 70px, 10px);
  }
  10% {
    clip: rect(65px, 350px, 103px, 10px);
  }
  15% {
    clip: rect(63px, 350px, 40px, 10px);
  }
  20% {
    clip: rect(144px, 350px, 142px, 10px);
  }
  25% {
    clip: rect(123px, 350px, 38px, 10px);
  }
  30% {
    clip: rect(67px, 350px, 128px, 10px);
  }
  35% {
    clip: rect(111px, 350px, 21px, 10px);
  }
  40% {
    clip: rect(123px, 350px, 115px, 10px);
  }
  45% {
    clip: rect(113px, 350px, 55px, 10px);
  }
  50% {
    clip: rect(86px, 350px, 121px, 10px);
  }
  55% {
    clip: rect(131px, 350px, 55px, 10px);
  }
  60% {
    clip: rect(38px, 350px, 137px, 10px);
  }
  65% {
    clip: rect(67px, 350px, 136px, 10px);
  }
  70% {
    clip: rect(79px, 350px, 117px, 10px);
  }
  75% {
    clip: rect(99px, 350px, 11px, 10px);
  }
  80% {
    clip: rect(71px, 350px, 37px, 10px);
  }
  85% {
    clip: rect(8px, 350px, 50px, 10px);
  }
  90% {
    clip: rect(99px, 350px, 53px, 10px);
  }
  95% {
    clip: rect(120px, 350px, 42px, 10px);
  }
  100% {
    clip: rect(9px, 350px, 90px, 10px);
  }
}

/*# sourceMappingURL=styleAnim.css.map */




@media all and (max-width: 800px) {

    

    #min5, #min10, #min15 {
        font-size: 30px;
        margin-top: 20px;
    }

    #btn {
      margin-top: 200px;
  }

}

@media all and (max-width:500px) {

    .blocks {
         flex-direction: column;
         align-items: center; 
      }
    #btn, #par {
        margin-bottom: 20px;
        font-size: 15px;
        margin-top: 50px;
        line-height: 26px;
    }

    img {
        align-self: center;
    }
}